<br>
<!--<div class="body">
    <div class="row">
        <img src="../assets/port3.jpg" style="width:380px" height="240px">
        <img src="../assets/port4.jpg" style="width:380px" height="240px">
    </div>

    <div class="row">
        <section id="container1">
            Primary education is the first formal stage of education covering 5-6 years of academic study starts with
            classes 6th-10th, We can say that it forms the cornerstone of academic careers.
            Primary education providers must impart a secure and positive environment where
            effective learning occurs.
        </section>
        <section id="container2">
            The secondary stage of education covering 2-3 years of academic study starts with classes 11th-12th,
            consisting of students aged between 14-16 years. The schools that impart education up to 12th class
            are known as Secondary Schools, High Schools, Senior Schools, etc.
        </section>
    </div>
</div>-->

<!--This is for education what are the grades and subjects we provide-->

<body>
    <div class="row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../assets/port3.jpg" style="width:450px" height="280px">
                </div>
                <div class="flip-card-back">
                    <h1>Primary School</h1>
                    <p>Primary education is the first formal stage of education covering 5-6 years of academic study
                        starts
                        with
                        classes 6th-10th, We can say that it forms the cornerstone of academic careers.
                        Primary education providers must impart a secure and positive environment where
                        effective learning occurs.</p>
                </div>
            </div>
        </div>
        <div class="flip-card1">
            <div class="flip-card-inner1">
                <div class="flip-card-front1">
                    <img src="../assets/port4.jpg" style="width:450px" height="280px">
                </div>
                <div class="flip-card-back1">
                    <h1>Secondary School</h1>
                    <p>The secondary stage of education covering 2-3 years of academic study starts with classes
                        11th-12th,
                        consisting of students aged between 14-16 years. The schools that impart education up to 12th
                        class
                        are known as Secondary Schools, High Schools, Senior Schools, etc.</p>
                </div>
            </div>
        </div>
    </div>
</body>