<div class="feedback">
    <p><b>Dear Student,</b><br>
        Thank you for learning at our website. We would like to know how we performed. Please spare
        some moments to give us your valuable feedback as it will help us in improving our teaching.</p>

    <h4>Please rate your learning experience for the following parameters</h4>

    <form>
        <label>1. Your overall experience with us ?</label><br>

        <p class="rate">
            <input type="radio" id="star5" name="rate" value="5" [(ngModel)]="rate" />
            <label for="star5" title="love">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" [(ngModel)]="rate" />
            <label for="star4" title="like">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" [(ngModel)]="rate" />
            <label for="star3" title="Ok">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" [(ngModel)]="rate" />
            <label for="star2" title="disappointed">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" [(ngModel)]="rate" />
            <label for="star1" title="hate">1 star</label>
        </p>

        <br>
        <label class="experience">2. Experience with our teachers?</label><br><br />
        <div style="color:grey">
            <span style="float:left">
                POOR
            </span>
            <span style="float:right">
                BEST
            </span>

        </div>
        <span class="scale-rating">
            <label value="1">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="2">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="3">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="4">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="5">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="6">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="7">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="8">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="9">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
            <label value="10">
                <input type="radio" name="rating" [(ngModel)]="rating">
                <label style="width:100%;"></label>
            </label>
        </span>

        <hr class="survey-hr">
        <label for="m_3189847521540640526commentText">3. Any Other suggestions:</label><br /><br />
        <textarea name="commentText" rows="3" style="width:100%" [(ngModel)]="commentText"></textarea><br>
        <br>
        <div class="clear"></div>
        <input (click)=sendRating() class="btn btn-primary" style="color:#fff;padding:12px;border:0" type="submit"
            value="Submit your review">
    </form>
</div>
