<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="cards">
            <div class="imgBx">
                <img src="../assets/Bharathi1.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>R Bharathi<br><span>FullStack Java Developer</span></h2>
                    <ul class="social_icons">
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"
                                    aria-hidden="true" data-bs-toggle="tooltip" title="Facebook"></i> </a></li>
                        <li><a href="https://www.github.com" target="_blank"><i class="fa fa-github" aria-hidden="true"
                                    data-bs-toggle="tooltip" title="Github"></i> </a></li>
                        <li><a href="https://www.linkedIn.com" target="_blank"><i class="fa fa-linkedin"
                                    aria-hidden="true" data-bs-toggle="tooltip" title="LinkedIn"></i> </a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"
                                    aria-hidden="true" data-bs-toggle="tooltip" title="Instagram"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>