h1{
  text-align: center;
}
body{
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); 
  text-align: center;
  margin-top: 15px;
  padding: 2%;
}
.body{
  position: relative;
}
.panel-heading{  
  text-align: center;
  margin-bottom: 10px;
}
  .btn{
    margin-top: 20px;
    border-radius: 15px;
  }
  /*msg box*/
 .panel{
    background-position:center;
    min-height: 300px; 
    width: 300px;
    border-radius: 10px; 
    margin: 0;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 10px;
 }
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}
input[type='text'],
input[type='email']{ 
  box-shadow: none;
  border: none;
  outline: none;
  width: 100%;
}
textarea{
  box-shadow:none ;
  border: none;
  outline: none;
  width: 100%;
}